body {
  background-image: url(https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 42px;
  font-weight: 100;
  color: #29273f;
  margin-bottom: 0;
  margin-top: 7px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #34333b;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

li:first-letter {
  text-transform: capitalize;
}

.content-wrapper {
  max-width: 620px;
  margin: 150px auto 0 auto;
  padding: 10px 0 10px 20px;
  background: linear-gradient(rgb(216, 236, 253), rgb(143, 142, 245));
  border-radius: 8px;
}

.dayAndDescription {
  font-size: 17px;
  line-height: 1.2;
}

.conditions {
  font-size: 20px;
}

.weather-app-wrapper {
  max-width: 620px;
  margin: 0 auto;
}

.source-code {
  color: #fff;
}

.link-to-code {
  color: #fff;
}

.link-to-code:hover {
  color: #050558;
}

.displayedTemperature {
  font-size: 80px;
  font-family: "Rubik", sans-serif;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.4;
}

.col-7 {
  padding-left: 3px;
}

.units {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.fahrenheit-temp {
  text-decoration: none;
  color: #141497;
}

.fahrenheit-temp:hover {
  text-decoration: underline;
  color: #141497;
}
